.name {
  font-family: 'Notable', sans-serif;
  color: #032535;
  font-size: 40px;
  padding-left: 40%;
  padding-top: 5%;
}

.navigation {
  font-family: 'Work Sans', sans-serif;
  font-size: 30px;
  color: #ff5858;
  padding-left: 40%;
  padding-top: 80px;
  align-items: center;
}

html {
  background: #ebfffb;
}

a {
  color:#ff5858;
  text-decoration: none;
  transition: color .5s ease;
}

a:hover {
  color:orange;
}

.blob1-wobble {
  content: '';
  background:teal;
  width: 40vh;
  height: 40vh;
  position: fixed;
  left: 100px;
  bottom: 70px;
  z-index: -4;
  border-radius: 20% 90% 90% 20% / 20% 10% 90% 10%;
  animation: wobble 10s ease-in-out alternate infinite;
}

@keyframes wobble {
  60% {
    border-radius: 15% 95% 70% 1% / 29% 80% 20% 71%;
    transform: translateY(10%) translateX(10%) rotateY(-90deg);

  }
  100% {
    border-radius: 65% 35% 82% 18% / 56% 32% 68% 44%;
    transform: none;
  }
}
